.mb-35
  %h3= t('Best Sellers')
  .row
  - 4.times do
    .col-xs-6.col-sm-3
      .general-thumb-wrap
        .thumbnail.general-thumbnail
          %img.img-shadow.general-thumbnail-img{src:  image_url("sample_book.jpg"), alt: "design-book"}
          .thumb-hover
            .general-thumb-link-wrap
              %a.thumb-hover-link{href: "#"}
                %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
              %a.thumb-hover-link{href: "#"}
                %i.fa.fa-shopping-cart.thumb-icon
      .mb-35
        .clearfix
          %p.pull-right.font-16.in-gold-500 €00.00
          %p.title.mr-55 Android Programming for Beginners
        %span.divider-sm
        %p.lead.small John Horton
