#pager
  - if pagy.next
    .text-center
      %button.btn.btn-primary 
        = link_to(                                                                     |
            "Load more",                                                       |
            books_path(page: pagy.next),                                             |
            class: "rounded py-3 px-5 bg-gray-600 text-white block hover:bg-gray-800", |
            data: {                                                                    |
              turbo_frame: "page_handler"                                              |
            }                                                                          |
          )                                                                      |
 